<main class="landing">
  <div class="landing__wrapper">
    {{~#each project~}}
      <a class="landing__project" href="{{this.link}}">
        <div class="landing__project__img" style="background-image: url('{{this.img}}')">
        </div>
        <div class="landing__project__overlay">
          <div class="landing__project__line"></div>
          <span class="landing__project__name">{{this.name}}</span>
          <span class="landing__project__blurb">{{this.blurb}}</span>
          {{~#if icons~}}
          <div class="landing__project__icons">
            {{~#each icons~}}
            <div class="landing__project__icons__item project-icon project-icon--{{this}}">
              <div class="project-icon-tooltip">{{replaceDashes this}}</div>
            </div>
            {{~/each~}}
          </div>
          {{~/if~}}
        </div>
        <div class="landing__project__mobile-text">
          Click To See More
        </div>
      </a>
    {{~/each~}}
  </div>
</main>