<main class="landing">
  <div class="landing__wrapper">
    {{~#each project~}}
      {{~#isMod0 @index 3~}}
        <div class="landing__row">
      {{~/isMod0~}}

        <a class="landing__row__project" href="{{this.link}}">
          <div class="landing__row__project__img" style="background-image: url('{{this.img}}')">
          </div>
          <div class="landing__row__project__overlay">
            <div class="landing__row__project__line"></div>
            <span class="landing__row__project__name">{{this.name}}</span>
            <span class="landing__row__project__blurb">{{this.blurb}}</span>
            {{~#if icons~}}
            <div class="landing__row__project__icons">
              {{~#each icons~}}
              <i class="landing__row__project__icons__item project-icon--{{this}}"></i>
              {{~/each~}}
            </div>
            {{~/if~}}
          </div>
        </a>

      {{~#if @index~}}
        {{~#isMod0 @index 2~}}
          </div>
        {{~/isMod0~}}
      {{~/if~}}

    {{~/each~}}
  </div>
</main>
