<main class="project">
  <div class="project__meta">
    <div class="project__meta__heading">
      <h2 class="project__meta__heading__name">{{name}}</h2>
      {{~#if icons~}}
      <div class="project__meta__heading__icons">
        {{~#each icons~}}
        <i class="project__meta__heading__icons__item project-icon project-icon--{{this}} blue">
          <div class="project-icon-tooltip">{{this}}</div>
        </i>
        {{~/each~}}
      </div>
      {{~/if~}}
    </div>
    <div class="project__meta__description">{{description}}</div>
  </div>
  {{#each img}}
    <img class="project__img" src="{{this}}" />
  {{/each}}

</main>
{{> project-nav}}