<main class="project" itemscope itemtype="http://schema.org/CreativeWork" itemref="project-description project-creator project-thumbnail">
  <div class="project__meta">
    <div class="project__meta__heading">
      <h1 class="project__meta__heading__name" itemprop="name">{{name}}</h1>
      {{~#if icons~}}
      <div class="project__meta__heading__icons">
        {{~#each icons~}}
        <div class="project__meta__heading__icons__item project-icon project-icon--{{this}} blue">
          <div class="project-icon-tooltip" itemprop="genre">{{replaceDashes this}}</div>
        </div>
        {{~/each~}}
      </div>
      {{~/if~}}
    </div>
    <div class="project__meta__description">
      {{{description}}}
    </div>
  </div>
  <div class="project__images">
    {{~#each img~}}
      <img class="project__images__item project__images__item-{{this.class}}" src="{{this.link}}" itemprop="image" alt="{{../name}} Project Image {{plus1 @index}}"/>
    {{~/each~}}
  </div>
</main>